.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    max-width: 400px;
}
.calendar__cell {
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar__header {
    font-weight: bold;
}
.calendar__text {
    display: inline-block;
}

.heart {
    width: 45px;
    height: 45px;
    animation: heartPulse 3s ease-in-out infinite;
    position: absolute;
}

@keyframes heartPulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

.heart__number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}