.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    max-width: 400px;
}
.calendar__cell {
    padding: 10px;
    text-align: center;
}
.calendar__header {
    font-weight: bold;
}
.calendar__text {
    display: inline-block;
}

.heart {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: var(--accent);
    transform: rotate(-45deg);
    animation: heartPulse 2s ease-in-out infinite;
    transform-origin: center;
}

@keyframes heartPulse {
    0% {
        transform: rotate(-45deg) scale(1);
    }
    50% {
        transform: rotate(-45deg) scale(1.15);
    }
    100% {
        transform: rotate(-45deg) scale(1);
    }
}


.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--accent);

    border-radius: 50%;
}
.heart::before {
    top: -10px;
    left: 0;
}
.heart::after {
    left: 10px;
    top: 0;
}

.heart__number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 100;
}